
:root {
  --primary: #4f46e5;
  --bg-light: #f9fafb;
  --text-main: #111827;
  --text-muted: #6b7280;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: var(--bg-light);
  color: var(--text-main);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


button {
  font-family: inherit;
  cursor: pointer;
}


a {
  text-decoration: none;
  color: inherit;
}